/* Add your CSS styles here */
html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1%;
  padding-bottom: 0;
  height: 100vh;
  min-height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  grid-row: 1;
  grid-column: span 2;
  background-color: aqua;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

/* Define your additional CSS styles for links, etc. */
/* Example styles for links */
a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #000;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.landing-page{
  display:grid;
  grid-template-columns: 1fr 2fr ;
  grid-template-rows: 1fr 2fr 6fr 2fr 1fr;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.random-text-1 {
  grid-row: 2/span 1;
  grid-column: span 2;
}

.entity-dropdown {
  grid-row: 3/span 1;
  grid-column: 1/span 1;
}

.search-bar {
  grid-row: 3/span 1;
  grid-column: 2/span 1;
}

.random-text-2 {
  grid-row: 4/span 1;
  grid-column: span 2;
}


Footer{
  position: relative;
  text-align: center;
  background-color: #000;
  color: #333;
  grid-row: 5/span 1;
  grid-column: span 2;
}